spring:
  application:
    name: forum

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:forum;DB_CLOSE_DELAY=-1
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: "senha-super-secreta-para-assinatura-do-token-senha-super-secreta-para-assinatura-do-token"